<h1>specialty food products landing page</h1>
<p>-information about the business-</p>

<p>three most recently added products:</p>
<p>product with the most reviews:</p>

<%= link_to 'view all products', products_path %>



<% if @domestic.any? %>
  <h4>Here are the domestic products currently available</h4>
  <ul>
    <% @domestic.each do |product| %>
    <div class="panel panel-transparent">
      <li>
        <%= link_to product.name, product_path(product) %>
      </li>
    </div>
    <% end %>
  </ul>
<% else %>
  <p>There are no domestic products currently available</p>
<% end %>
