<h1>all products</h1>

<% @products.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product) %> |
    <%= link_to "Edit", edit_product_path(product) %>  |
    <%= link_to "Delete", product_path(product),
          :data => {:confirm => "Are you sure?",
          :method => "delete"} %>
  </li>
<% end %>

<h2><%= link_to "add a new product", new_product_path%></h2>
