<h1>specialty food products landing page</h1>
<p>-information about the business-</p>

<p>three most recently added products:</p>
<p>product with the most reviews:</p>

<p>all products shown below:</p>

<% @products.each do |product| %>
  <li> <%= product.name %> </li>
<% end %>
